
.svg-container {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#svgTitle text {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}
