@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.carousel-root .thumbs-wrapper .animated {
    display: flex;
    justify-content: center;
}

.menu li a {
    color: white !important;
}

.carousel .carousel-status {
    display: none;
}

.carousel .thumbs-wrapper .thumbs {
    height: 70px;
}

.category-card .swiper {
    position: unset;
}

.category-card .swiper .swiper-pagination {
    position: absolute;
    bottom: -40px;
}

.category-card .swiper-pagination-bullet {
    background-color: red;
    font-size: 50px;
    height: 15px;
    width: 15px;
}
